{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block object-tools %}
    {{ block.super }}
    <div style="display: flex; align-items: flex-start">
        <div>
            <ul>
                <li>Количество уникальных IP: {{ ip_count }}</li>
                <li>Количество HTTP методов: {{ methods_count }}</li>
                <li>Общее кол-во переданных байт: {{ byte_sum }} ({{ byte_sum|filesizeformat }})</li>
            </ul>
        </div>
    </div>
    <div>
        <form action="report/" method="GET">
                <button type="submit">Экспорт XLSX</button>
        </form>
    </div>
    <br/>
{% endblock %}

{% block filters %}
    {% if cl.has_filters %}
        <div id="changelist-filter">
            <h2>Toп 10 IP адресов</h2>
            <div style="margin-top: 8px">
                <table>
                    <tr>
                        <td style="border: 1px solid black">IP адрес</td>
                        <td style="border: 1px solid black">Кол-во вхождений</td>
                    </tr>
                    {% for item in top_ip_addresses %}
                        <tr>
                            <td style="border: 1px solid black">{{ item.ipv4_address }}</td>
                            <td style="border: 1px solid black">{{ item.total }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <br>
            <h2>{% trans 'Filter' %}</h2>
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
        </div>

    {% endif %}


{% endblock %}
